.half-width-tab > ul > li {
  width: 50%;
}

.maja-navbar-div {
  float: left;
  margin-top: 15px
}

.maja-navbar-toggle {
  float: left;
  margin-left: 15px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: right;
}

